<web-app>
   <servlet>
      <servlet-name>abc</servlet-name>
      <servlet-class>first</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>abc</servlet-name>
       <url-pattern>/t</url-pattern>
   </servlet-mapping>
    <servlet>
      <servlet-name>b</servlet-name>
      <servlet-class>b</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>b</servlet-name>
       <url-pattern>/b</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>regis</servlet-name>
      <servlet-class>regis</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>regis</servlet-name>
       <url-pattern>/regis</url-pattern>
   </servlet-mapping>
     <servlet>
      <servlet-name>inserts</servlet-name>
      <servlet-class>inserts</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>inserts</servlet-name>
       <url-pattern>/inserts</url-pattern>
   </servlet-mapping>
    <servlet>
      <servlet-name>deletes</servlet-name>
      <servlet-class>deletes</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>deletes</servlet-name>
       <url-pattern>/deletes</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>fetch</servlet-name>
      <servlet-class>fetch</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>fetch</servlet-name>
       <url-pattern>/fetch</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>fetchall</servlet-name>
      <servlet-class>fetchall</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>fetchall</servlet-name>
       <url-pattern>/fetchall</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>edit</servlet-name>
      <servlet-class>edit</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>edit</servlet-name>
       <url-pattern>/edit</url-pattern>
   </servlet-mapping>
  <servlet>
      <servlet-name>update</servlet-name>
      <servlet-class>update</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>update</servlet-name>
       <url-pattern>/update</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>c2</servlet-name>
      <servlet-class>c2</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>c2</servlet-name>
       <url-pattern>/c2</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>c3</servlet-name>
      <servlet-class>c3</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>c3</servlet-name>
       <url-pattern>/c3</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>regis1</servlet-name>
      <servlet-class>regis1</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>regis1</servlet-name>
       <url-pattern>/regis1</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>sign</servlet-name>
      <servlet-class>sign</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>sign</servlet-name>
       <url-pattern>/sign</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>admin</servlet-name>
      <servlet-class>admin</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>admin</servlet-name>
       <url-pattern>/admin</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>time</servlet-name>
      <servlet-class>time</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>time</servlet-name>
       <url-pattern>/time</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>s2</servlet-name>
      <servlet-class>s2</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>s2</servlet-name>
       <url-pattern>/s2</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>s3</servlet-name>
      <servlet-class>s3</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>s3</servlet-name>
       <url-pattern>/s3</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>s4</servlet-name>
      <servlet-class>s4</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>s4</servlet-name>
       <url-pattern>/s4</url-pattern>
   </servlet-mapping> 
<servlet>
      <servlet-name>h2</servlet-name>
      <servlet-class>h2</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>h2</servlet-name>
       <url-pattern>/h2</url-pattern>
   </servlet-mapping>  
<servlet>
      <servlet-name>h3</servlet-name>
      <servlet-class>h3</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>h3</servlet-name>
       <url-pattern>/h3</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>new_authority</servlet-name>
      <servlet-class>new_authority</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>new_authority</servlet-name>
       <url-pattern>/new_authority</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>authority_validate</servlet-name>
      <servlet-class>authority_validate</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>authority_validate</servlet-name>
       <url-pattern>/authority_validate</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>deletetrain</servlet-name>
      <servlet-class>deletetrain</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>deletetrain</servlet-name>
       <url-pattern>/deletetrain</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>bookticket</servlet-name>
      <servlet-class>bookticket</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>bookticket</servlet-name>
       <url-pattern>/bookticket</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>insertfare</servlet-name>
      <servlet-class>insertfare</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>insertfare</servlet-name>
       <url-pattern>/insertfare</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>confirm</servlet-name>
      <servlet-class>confirm</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>confirm</servlet-name>
       <url-pattern>/confirm</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>show</servlet-name>
      <servlet-class>show</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>show</servlet-name>
       <url-pattern>/show</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>super_authority</servlet-name>
      <servlet-class>super_authority</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>super_authority</servlet-name>
       <url-pattern>/super_authority</url-pattern>
   </servlet-mapping>
<servlet>
      <servlet-name>newacc</servlet-name>
      <servlet-class>newacc</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>newacc</servlet-name>
       <url-pattern>/newacc</url-pattern>
   </servlet-mapping>
</web-app>